#calc-form1 {

  .fieldgroup {
    clear: both;
  }

  h2 {
    padding-top: 24px;
    clear: both;
  }

  legend {
    border-bottom: 0px;
    float: left;
    clear: both;
    width: 50%;
    padding-right: 45px;
    margin-top: 24px;
  }

  fieldset {
    margin-bottom: 24px;
  }

  .form-type-radio .control-label {
    float: left;
    margin-right: 20px;
    border: 2px solid #018751;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    text-align: center;
    padding-left: 0px;
    padding-top: 14px;

    text-overflow: ellipsis;
    overflow: hidden;

    /* white-space: nowrap; */

    &.active {
      color: #FFF;
      background-color: #018751;
    }

    input {
      display: none;
    }
  }

  .form-type-textfield {
    line-height: 80px;

    label {
      border-bottom: 0px;
      float: left;
      clear: both;
      width: 50%;
      text-align: left;
      padding-right: 45px;
      margin-top: 24px;
      line-height: 24px;

      font-size: 21px;
      font-weight: normal;
    }

    input {
      width: 40%;
      float: left;
      margin-top: 24px;
      margin-right: 5px;
      border: 2px solid #018751;

      &.field_english, &.field_metric {
        width: 10%;
        min-width: 100px;
      }
    }
  }

  .form-type-select {

    label {
      border-bottom: 0px;
      float: left;
      clear: both;
      width: 50%;
      text-align: left;
      padding-right: 45px;
      margin-top: 24px;
      line-height: 24px;

      font-size: 16px;
      font-weight: normal;
    }

    .select-wrapper {
      float: left;
      width: 40%;

      &:after {
        top: 75%;
      }
    }

    select {
      margin-top: 24px;
      margin-right: 5px;
      border: 2px solid #018751;
    }
  }

  button {
    background-color: #018751;
    color: white;
    font-size: 24px;
    margin-top: 24px;

    &#edit-submit {
      margin-left: calc(40% - 225px);
    }
  }
}

.results__item {
  padding: 15px;
  height: 250px;

  border-bottom: 2px solid #BBB;
  border-right: 2px solid #BBB;

  &.first {
    border-left: 2px solid #BBB;
  }

  &.row1 {
    border-top: 2px solid #BBB;
  }
}

.results-header {
  margin-top: 48px;
  margin-bottom: 48px;
  text-align: center;
  color: #018751;
}

.form-required:after {
  height: 20px !important;
  background-repeat: no-repeat;
}
