.region-header {
  text-align: center;
}

.main-container {
  min-height: 900px;
}

a.logo {
  float: none !important;
}

h1 {
  color: #018751;
}

.region-content {
  .field--name-body {
    text-align: center;

    padding-top: 24px;
    padding-bottom: 24px;

    p {
      font-size: 32px;
      color: #018751;
      margin-bottom: 36px;
    }
  }
}

.paragraph {
  &__callout {
    height: 200px;
    width: 200px;
    background-color: #018751;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
    cursor: pointer;
  }

  &__callout--line {
    text-align: center;
    padding-top: 54px;

    .field--name-field-text-1  {
      border-bottom: 2px solid #FFF;
      margin-bottom: 12px;
      padding-bottom: 12px;
      width: 60%;
      margin-left: 20%;
    }

    .field--name-field-text-2  {
      width: 60%;
      margin-left: 20%;
    }
  }

  &__callout-wrapper {
    margin-bottom: 24px;


    .paragraph__hover {
      opacity: 0;
      visibility: hidden;

      -o-transition: visibility 0s, opacity 0.5s linear;
      -ms-transition: visibility 0s, opacity 0.5s linear;
      -moz-transition: visibility 0s, opacity 0.5s linear;
      -webkit-transition: visibility 0s, opacity 0.5s linear;
      transition: visibility 0s, opacity 0.5s linear;

      background-color: white;
      border: 2px solid #018751;
      position: absolute;
      z-index: 999;

      .field--name-field-hover-text {
        padding: 12px;
      }
    }

    &:hover {
      .paragraph__hover {
        opacity: 1;
        visibility: visible;
      }
    }
  }

}

footer {
  background-color: #4f4f4f;
  width: 100% !important;
  text-align: center;
  color: white;

  .field--name-body {
    text-align: center;

    p {
      font-size: 16px;
      color: #FFF;
    }
  }
}

.fieldgroup {
  &:hover {
    .question__hover {
      opacity: 1;
      visibility: visible;
    }
  }

  .question__hover {
    opacity: 0;
    visibility: hidden;

    -o-transition: visibility 0s, opacity 0.5s linear;
    -ms-transition: visibility 0s, opacity 0.5s linear;
    -moz-transition: visibility 0s, opacity 0.5s linear;
    -webkit-transition: visibility 0s, opacity 0.5s linear;
    transition: visibility 0s, opacity 0.5s linear;

    background-color: white;
    border: 2px solid #018751;
    position: absolute;
    z-index: 999;

    img {
      max-width: 450px;
      height: auto;
    }
    p {
      padding: 12px;
    }
  }

}
