<table id="area_calculator" width="300" cellpadding="2" cellspacing="1" border="0" style="border: solid 2px #008651">
 <tbody><tr>
    <td class="dataheader" colspan="3"><span id="added-areas">Added Areas</span></td>
</tr>
<tr>
    <td colspan="3">
        <table id="areas" cellspacing="0" cellpadding="0" border="0" style="width:240px;border-collapse:collapse;">
           <tbody><tr>
              <td class="medium total-row spacer" colspan="3" style="white-space:nowrap;"><hr color="#147650"></td>
          </tr><tr>
              <td class="medium total-row" align="right" colspan="3">Total Area:&nbsp;&nbsp;<span class="unit-convert"></span> <span class="units">sq ft</span></td>
          </tr>
      </tbody></table>                                
  </td>
</tr>
<tr>
    <td align="center" colspan="3">
        <input type="button" name="clear-areas" value="Clear Areas" id="clear-areas" style="font-size:10px;width:240px;">    
    </td>
</tr>
<tr>
    <td class="dataheader" colspan="3">Add New Area</td>
</tr>
<tr>
    <td width="30%" valign="top">
        <input id="area-square" type="radio" name="area-choice" value="chkAreaSquare"><img src="/modules/custom/calculator/images/area-square.jpg" width="30" height="30" border="0"><br>
        <table cellpadding="2" cellspacing="1" border="0">
            <tbody><tr>
                <td class="arealabel">Width:&nbsp;</td>
                <td><input name="area-square-width" type="text" id="area-square-width" style="background-color:White;font-size:10px;width:25px;"></td>
            </tr>
            <tr>
                <td class="arealabel">Length:&nbsp;</td>
                <td><input name="area-square-height" type="text" id="area-square-height" style="background-color:White;font-size:10px;width:25px;"></td>
            </tr>                                        
        </tbody></table>
    </td>
    <td width="30%" valign="top">
        <input id="area-circle" type="radio" name="area-choice" value="chkAreaCircle"><img src="/modules/custom/calculator/images/area-circle.jpg" width="30" height="30" border="0"><br>
        <table cellpadding="2" cellspacing="1" border="0">
            <tbody><tr>
                <td class="arealabel">Radius:&nbsp;</td>
                <td><input name="area-circle-radius" type="text" id="area-circle-radius" style="background-color:White;font-size:10px;width:25px;"></td>
            </tr>
            <tr>
                <td class="arealabel">Angle:&nbsp;</td>
                <td>
                    <select name="area-circle-angle" id="area-circle-angle" style="font-size:10px;">
                       <option value="Full" selected="selected">Full</option>
                       <option value="Half">Half</option>
                       <option value="Qtr">Qtr</option>
                   </select>
               </td>
           </tr>                                        
       </tbody></table>                                    
   </td>
   <td width="30%" valign="top">
    <input id="area-triangle" type="radio" name="area-choice" value="chkAreaTriangle"><img src="/modules/custom/calculator/images/area-triangle.jpg" width="30" height="30" border="0"><br>
    <table cellpadding="2" cellspacing="1" border="0">
        <tbody><tr>
            <td class="arealabel">Width:&nbsp;</td>
            <td><input name="area-triangle-width" type="text" id="area-triangle-width" style="background-color:White;font-size:10px;width:25px;"></td>
        </tr>
        <tr>
            <td class="arealabel">Height:&nbsp;</td>
            <td><input name="area-triangle-height" type="text" id="area-triangle-height" style="background-color:White;font-size:10px;width:25px;"></td>
        </tr>                                        
    </tbody></table>                                    
</td>
</tr>
<tr>
    <td colspan="3" class="medium">&nbsp;</td>
</tr>
<tr>
    <td colspan="3" align="center">
        <input type="button" name="update-area" value="Add New Area" id="update-area" style="font-size:10px;width:180px;">
        <input type="button" name="calculate-area-close" value="Close" id="calculate-area-close" style="font-size:10px;width:50px;">
    </td>
</tr>
</tbody></table>